[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/gabrielmougard/concurrentqueue.git
	branch = master
[submodule "csm"]
	path = csm
	url = https://github.com/gabrielmougard/csm.git
	branch = main
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "qtbase"]
	path = qtbase
	url = https://github.com/qt/qtbase.git
	branch = 6.4
