[submodule "csm"]
	path = csm
	url = ssh://git@github.com:gabrielmougard/csm.git
	branch = main
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "qtbase"]
	path = qtbase
	url = https://github.com/qt/qtbase.git
	branch = 6.4
[submodule "grpc/grpc"]
	path = grpc/grpc
	url = https://github.com/grpc/grpc.git
	branch = v1.47.x
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
	branch = master
[submodule "obs-studio/obs-studio"]
	path = obs-studio/obs-studio
	url = https://github.com/obsproject/obs-studio.git
	branch = master
